@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", system-ui;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: column;
}

/* Basic section sizing + Shared CSS properties */

.header,
.header-nav,
.header-main
.section-imgs,
.section-quotes {
    min-width: 100%;
 }

.header-nav,
.header-main,
.container-imgs,
.section-quotes,
.author,
.section-sign-up {
    display: flex;
}

.header,
.content,
.section-imgs{
    display: flex;
    flex-direction: column;
}


/* Header and Navbar section */

.header,
.header-nav,
.header-main {
    justify-content: space-evenly;
}

.header {
    background: #1F2937;
    color: white;
}

/* Navbar */
.header-nav {
    align-items: baseline;   
    padding-block: 0.8rem;
}

.header-links li {
    display: inline;
    list-style-type: none;
}

.header-links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.836);

    padding-inline: 0.4rem;
}

/* Main header section */
.header-main {
    align-items: center;

    margin-block: 2rem;
    padding: 4rem;
}

.main-left,
.main-right {
    width: 25%;
}

.main-left > * {
    padding-block: 0.4rem;
}
.main-left h1 {
    font-size: 2.8rem;
    font-weight: bold;
}

.main-left button {
    background: #3882F6;
    border-radius: 8px;

    padding-block: 0.4rem;
    padding-inline: 1.2rem;

    font-size: 1.2rem;
    font-weight: bold;
    color: inherit;

    outline: none;
    border: none;

    cursor: pointer;
}

.header-links a:hover {
    text-decoration: underline;
}

.main-left button:active {
    background: #3881f6af;
}

/* Content - images section */
.section-imgs,
.container-imgs,
.section-quotes {
    justify-content: center;
    align-items: center;
}

.section-imgs {
    margin-block: 2rem;
    padding-block: 2rem;
    padding-inline: 4rem;
}

.section-imgs h2 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.img-wrapper {
    width: 20%;
    
    text-align: center;
}

.img-wrapper img {
    border-radius: 8px;
    border: 4px #3882F6 solid;

    margin-bottom: 1rem;
}

/* Content - quotes section */

.section-quotes {
    font-size: 2rem;
    background: #e5e7eb;

    margin-block: 2rem;
    padding-block: 2rem;
}

.quote-wrapper {
    width: 50%;
    margin-block: 2rem;
}

.quote {
    font-style: italic;
    text-indent: 1rem;
}

.author {
    justify-content: end;
    margin-block: 1rem;
}
